<%- include('partials/header.ejs') %>
<body class="d-flex flex-column h-100">
    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <header class=" text-center py-5">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <img src="/images/user.png" alt="User Image" width="15%" class="img-fluid rounded-circle mb-3">
                </div>
              <h1 class="display-4"><%- __('myname') %></h1>
              <p class="lead">Web Developer | Fullstack Developer | Backend Developer</p>
            </div>
          </header>
        
          <section id="about" class="py-5">
            <div class="container">
              <h2 class="display-5"><%- __('about') %></h2>
              <hr>
              <p><%- __('aboutdescription', age) %></p>
            </div>
          </section>
        
          <section id="skills" class="bg-light py-5">
            <div class="container">
              <h2 class="display-5"><%= skills %></h2>
              <hr>
              <div class="row">
                <div class="col-md-4">
                  <h4>Fullstack Developer</h4>
                  <ul class="list-unstyled">
                    <li>HTML, CSS, JavaScript, C#</li>
                    <li>Razor, Express, Jquery, Ajax</li>
                    <li>Node.js, Aspnet, .Net</li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <h4>Databases</h4>
                  <ul class="list-unstyled">
                    <li>SQLServer</li>
                    <li>MongoDB</li>
                    <li>Redis</li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <h4>Others</h4>
                  <ul class="list-unstyled">
                    <li>Git, GitHub</li>
                    <li>Docker, Jenkins, New Relic, Sentry</li>
                    <li>GooglePubsub, RabbitMQ</li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        
          <section id="experience" class="py-5">
            <div class="container">
              <h2 class="display-5"><%- __('experience') %></h2>
              <hr>
              <div class="accordion" id="experienceAccordion">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <%- __('work1') %>
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#experienceAccordion">
                    <div class="accordion-body">
                      <%- __('work1description') %>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <%- __('work2') %>
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#experienceAccordion">
                    <div class="accordion-body">
                      <%- __('work2description') %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        
          <section id="contact" class="bg-light py-5">
            <div class="container">
                <h2 class="display-5"><%- __('contact') %></h2>
                <hr>
                <p><%- __('contactdescription') %></p>
                <a href="https://wa.me/5511993331342" target="_blank" class="btn btn-success"><i class="bi bi-whatsapp"></i> Whatsapp</a>
                <a href="/contact" class="btn btn-primary"><i class="bi bi-send"></i> Send E-mail</a>
            </div>
        </section>
    </div>
</body>
<%- include('partials/footer.ejs') %>   

<style>
    section {
    background-color: #f8f9fa;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
</style>